In [2]:
print("Hello")

Hello

In [53]:
import pandas as pd
import numpy as np
dataFrame=pd.read_csv("bank_marketing.csv",index_col=False)

In [54]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   age                         41188 non-null  int64
 2   job                         41188 non-null  object
 3   marital                     41188 non-null  object
 4   education                   41188 non-null  object
 5   credit_default              41188 non-null  object
 6   mortgage                    41188 non-null  object
 7   month                       41188 non-null  object
 8   day                         41188 non-null  int64
 9   contact_duration            41188 non-null  int64
 10  number_contacts             41188 non-null  int64
 11  previous_campaign_contacts  41188 non-null  int64
 12  previous_outcome            41188 non-null  object
 13  cons_price_idx              41188 non-null  float64
 14  euribor_three_months        41188 non-null  float64
 15  campaign_outcome            41188 non-null  object
dtypes: float64(2), int64(6), object(8)
memory usage: 5.0+ MB

In [55]:
dataFrame.head()

,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome
0,0,56,housemaid,married,basic.4y,no,no,may,13,261,1,0,nonexistent,93.994,4.857,no
1,1,57,services,married,high.school,unknown,no,may,19,149,1,0,nonexistent,93.994,4.857,no
2,2,37,services,married,high.school,no,yes,may,23,226,1,0,nonexistent,93.994,4.857,no
3,3,40,admin.,married,basic.6y,no,no,may,27,151,1,0,nonexistent,93.994,4.857,no
4,4,56,services,married,high.school,no,no,may,3,307,1,0,nonexistent,93.994,4.857,no

In [75]:
Client=dataFrame[["client_id","age","job","marital","education","credit_default","mortgage"]]
Client.to_csv("client.csv",index=False)

In [77]:
ClientDataFrame=pd.read_csv("client.csv")

,client_id,age,job,marital,education,credit_default,mortgage
0,0,56,housemaid,married,basic.4y,no,no
1,1,57,services,married,high.school,unknown,no
2,2,37,services,married,high.school,no,yes
3,3,40,admin.,married,basic.6y,no,no
4,4,56,services,married,high.school,no,no
...,...,...,...,...,...,...,...
41183,41183,73,retired,married,professional.course,no,yes
41184,41184,46,blue-collar,married,professional.course,no,no
41185,41185,56,retired,married,university.degree,no,yes
41186,41186,44,technician,married,professional.course,no,no
41187,41187,74,retired,married,professional.course,no,yes

In [89]:
#Changing credit data type
ClientDataFrame["credit_default"]=ClientDataFrame["credit_default"].fillna("").astype("str")
print(ClientDataFrame["credit_default"])

0             no
1        unknown
2             no
3             no
4             no
          ...
41183         no
41184         no
41185         no
41186         no
41187         no
Name: credit_default, Length: 41188, dtype: object
<class 'str'>

In [90]:
ClientDataFrame['credit_default'] = ClientDataFrame['credit_default'].apply(lambda x: '1' if x =="yes" else '0')
print(ClientDataFrame['credit_default'] )

0        0
1        0
2        0
3        0
4        0
        ..
41183    0
41184    0
41185    0
41186    0
41187    0
Name: credit_default, Length: 41188, dtype: object

In [93]:
Counting=ClientDataFrame['credit_default'].value_counts()
print(Counting)

credit_default
0    41185
1        3
Name: count, dtype: int64

In [94]:
Counting=ClientDataFrame['mortgage'].value_counts()
print(Counting)

mortgage
yes        21576
no         18622
unknown      990
Name: count, dtype: int64

In [95]:
ClientDataFrame['mortgage'] = ClientDataFrame['mortgage'].apply(lambda x: '1' if x =="yes" else '0')
print(ClientDataFrame['mortgage'] )

0        0
1        0
2        1
3        0
4        0
        ..
41183    1
41184    0
41185    1
41186    0
41187    1
Name: mortgage, Length: 41188, dtype: object

In [96]:
Counting=ClientDataFrame['mortgage'].value_counts()
print(Counting)

mortgage
1    21576
0    19612
Name: count, dtype: int64

In [110]:

print(type(ClientDataFrame["education"].iloc[0])) 

ClientDataFrame["education"]=ClientDataFrame["education"].fillna("No Education")

counting=ClientDataFrame["education"].value_counts()

print(counting)

<class 'str'>
education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: count, dtype: int64